html {
  background-color: #F1FAEE;
}

body{
  margin: 0;
}

.header {
  display: flex;
  margin 0 auto;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Quantico";
  font-size: 50px;
  color: #1D3557;
  margin: 20px;
}